body{
    background-color: #E8ECEF;
    margin-top: 50px;
    }
    
    #ocultar{
    display: none;
    justify-content: left;
    }
    
    
    h1{
        text-align: center;
        font-weight:lighter;
    }
    h2{
        font-weight:lighter;
    }
    
    #contenedor{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family:sans-serif;
        text-align: center;
        font-weight:lighter; 
    }
    
    #general{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .texto{
    
        margin-top: 10px;
        margin-bottom: 10px;
    
        }
    #Nombre{
      background-image: url('../icono/person.png');
      background-repeat: no-repeat;
      background-position: 4px center;
      background-size: 20px;
      display: flex;
      align-items: center;
      width: 300px;
      padding-left: 28px;
      height: 30px;
      border: 1px solid #a09999;
    
    }
    
    #Email{
      background-image: url('../icono/letter.png');
      background-repeat: no-repeat;
      background-position: 4px center;
      background-size: 20px;
      display: flex;
      align-items: center;
      width: 300px;
      padding-left: 28px;
      height: 30px;
      border: 1px solid #a09999;
    
    }
    
    #Telefono{
      background-image: url('../icono/phone.png');
      background-repeat: no-repeat;
      background-position: 4px center;
      background-size: 20px;
      display: flex;
      align-items: center;
      width: 300px;
      padding-left: 28px;
      height: 30px;
      border: 1px solid #a09999;
    
    }
    
    #controlgustos{
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 30px;
      margin-bottom: 20px;
    }
    
    #GustosC{
      height: 30px;
      width: 260px;
      
    }
    
    #btnGustos {
    background-color: white;
    color: #4CAF50;
    border: #4CAF50 1px solid;
    text-align: center;
    display: inline-block;
    height: 36px;
    font-size: 16px;
    margin-top:10px ;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }
    
    #btnGustos:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    }
    
    /*-------------------------------Tabla----------------------------------*/
    form {
        
        background-color: #ffffff;
        width: 350px;
        height: 400px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow:0 0 5px 2px rgb(102, 102, 102);
        
      }
    
      table{
        border-collapse: collapse;
        border-spacing: 2px;
        width: 325px;
        padding: 15px;
      }
    
     th, td {
        border: 1px solid #c5c4c4;
     }
    /*----------------------------------------------------------------------*/
     #ocultar{
        text-align: left;
        font-weight:lighter; 
        margin-left: 10px;
     }
    
     
    #BtnUtilidad{
      background-color: white;
      color: #575252;
      border: #a09999 1px solid;
      text-align: center;
      display: inline-block;
      height: 31px;
      font-size: 16px;
      border-radius: 4px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      
    }
    
    #BtnUtilidad:hover {
      background-color: #a09999;
      color: white;
    }
    
    a{
      margin-top: 10px;
      text-align: left;
      
    }
    
     #textotabla{
    width: 80px;
     }
